    .angular-leaflet-map {
      height: 100%;
    }

.left {
  text-align: left;
}

/*ONSENUI - LOGIN*/

        div.float-left {
            float: left;
        }

        .text-centering {
            text-align: center;
        }

        .font-weight-500 {
            font-weight: 500;
        }

        .main-image-wrapper {
            text-align: center;
            opacity: 0.2;
            height: 120px;
            margin: 30px 0;
        }

        .main-image {
            font-size: 150px;
            line-height: 160px;
        }

        input[type=email], input[type=password] {
            display: block;
            width: 80%;
            height: 48px;
            margin: 0 auto;
            font-size: 19px;
            outline: none;
            line-height: 48px;
        }

        .login-button {
            display: block;
            width: 80%;
            margin: 0 auto 0 auto;
            font-size: 18px;
        }

        .forgot-password {
            display: block;
            margin: 8px auto 0 auto;
            font-size: 14px;
        }


/*ONSENUI - GRID MENU   */
    .grid-menu {
        width: 100%;
        height: 300px;
    }

    .float-left {
        float: left;
    }

    .font-weight-500 {
        font-weight: 500;
    }

    .centering-and-alignment {
        display: box;
        display: -ms-box;
        display: -moz-box;
        display: -o-box;
        display: -webkit-box;
        box-align: center;
        -ms-box-align: center;
        -moz-box-align: center;
        -o-box-align: center;
        -webkit-box-align: center;
        box-pack: center;
        -ms-box-pack: center;
        -moz-box-pack: center;
        -o-box-pack: center;
        -webkit-box-pack: center;
    }

    .grid-menu-scroller {
        height: 100%;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .grid-menu-3items-row {
        width: 100%;
        height: 33.3333%;
        min-height: 100px;
        margin: 0;
        padding: 0;
    }

    .grid-menu-item {
        width: 33.3333%;
        height: 100%;
        min-width: 100px;
        min-height: 100px;
        margin: 0;
        padding: 0;
        border-left: 1px solid #CECECE !important;
        border-bottom: 1px solid #CECECE !important;
        font-size: 48px;
        text-align: center;
        opacity: 0.6;
        border-top: 0px !important;
    }

    .grid-menu-item:first-child {
        border-left: none !important;
    }

    .grid-menu-item i {
        margin-top: 20px;
        font-size: 36px;
        opacity: 0.4;
    }

    .grid-menu-item-label {
        margin-top: 3%;
        font-size: 14px;
    }

    .grid-menu-list-item-left {
        width: 90%;
        opacity: 0.6;
    }

    .grid-menu-list-item-right {
        position: absolute;
        bottom: 0px;
        top: 0px;
        right: 16px;
        width: 80px;
        font-size: 20px;
        opacity: 0.4;
        text-align: right;
        line-height: 44px;
    }


/*shop details*/
.details-content {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.card {
  background-color: white;
  background-image: url(images/sushi-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 250px;
}

.card-toolbar ons-back-button span {
  color: white;
}

.card-name {
  font-weight: 600;
  font-size: 20px;
  padding: 66px 0 8px 0;
  text-align: center;
}

.card-desc {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.9;
  text-align: center;
  line-height: 1.4;
}

.rating {
  text-align: center;
  position: relative;
  height: 0px;
}

.rating-num {
  position: relative;
  top: -24px;
  height: 24px;
  color: white;
  line-height: 24px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  border-radius: 4px 4px 0 0;
  padding: 0 6px;
  background-color: #eb482f;
  color: white;
  width: auto;
  margin: 0 auto 0 auto;
  display: inline-block;
}

.rating-num ons-icon {
  font-size: 11px;
  vertical-align: -0px;
}

.action-col {
  text-align: center;
  opacity: 0.4;
  padding: 10px 0 8px;
}

.action-col:active {
  opacity: 0.7;
}

.action-col ons-button {
  padding: 0;
  line-height: 1;
}

.action-icon {
  padding: 0 0 4px 0;
}

.action-icon ons-icon {
  font-size: 28px;
}

.action-label {
  font-size: 12px;
}

.prop-desc {
  font-size: 14px;
  opacity: 0.7;
}

.prop-desc ons-icon {
  font-size: 14px;
  vertical-align: -0px;
  opacity: 0.5;
}

/*LIST WITH PICTURES*/

.list-item-container {
  line-height: 1;
  padding: 15px 0px 15px 15px;
}

.thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

.name {
  font-weight: 500;
  line-height: 16px;
  font-size: 15px;
  margin-bottom: 6px;
}

.location {
  font-size: 14px;
  opacity: 0.4;
  margin-bottom: 6px;
}

.desc {
  line-height: 1.2;
  font-size: 13px;
}

/*settings*/
.range-list {
  text-align: center;
}

.range-wrapper .range {
  margin-top: 7px;
  width: 100%;
}

ons-icon {
  opacity: 0.8;
}

.lower {
  opacity: 0.2;
}



/*AUDIO PLAYER*/

.audio-player-button {
      display: block;
      position: relative;
      float: left;
      width: 70px;
      height: 70px;
      margin: -12px 0px 0px 0px;
      border-radius: 100%;
      border: 3px solid #808e97;
      opacity: 0.8;
      cursor: pointer; 
      padding-top:8px;
      padding-left:10px;
  }
.audio-player-button:hover {
    opacity: 1;
      display: block;
      position: relative;
      float: left;
      width: 70px;
      height: 70px;
      margin: -12px 0px 0px 0px;
      border-radius: 100%;
      border: 3px solid #808e97;
      opacity: 0.8;
      cursor: pointer; 
      padding-top:8px;
      padding-left:10px;
color: #808e97;
}
.audio-player-button.small {
    width: 54px;
    height: 54px;
    margin: -3px 0 0 0 ;
    padding-top:8px;
    padding-left:0px;
}  



.progress-bar,
.topcoat-progress-bar {
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 2em;
}

.progress,
.topcoat-progress {
  display: block;
  height: 100%;
}

.topcoat-progress-bar {
  width: 80%;
  height: 0.4rem;
  border-radius: 12px;
  background-color: #d3d7d7;
  box-shadow: 0 1px rgba(255,255,255,0.25), inset 0 1px rgba(0,0,0,0.12);
}

.topcoat-progress-bar > .topcoat-progress {
  border-radius: 12px 0 0 12px;
  background-color: #f9fb0b;
  box-shadow: inset 0 1px rgba(0,0,0,0.12);
}

.progress--complete {
  width: 100%;
}