<ons-page ng-controller="LitCtrl">

    <ons-toolbar>
      <div class="left"><ons-back-button>atrás</ons-back-button></div>
      <div class="center">{{lit.title}}</div>
    </ons-toolbar>


        <ons-row>
            <ons-col>
              <div class='topcoat-progress-bar'>
                <span class='topcoat-progress' style='width:{{getCurrentPosition}}%'></span>
              </div>
            </ons-col>
        </ons-row>  

        <ons-row style="margin-top:-28px; margin-bottom:10px" >
            <ons-col align="center">
              <ons-button modifier="outline" ng-click="play()"><ons-icon icon="ion-ios7-rewind" size="30px"></ons-icon></ons-button>
              <ons-button modifier="outline" ng-click="play()"><ons-icon icon="ion-ios7-play" size="30px"></ons-icon></ons-button>  
              <ons-button modifier="outline" ng-click="pause()"><ons-icon icon="ion-ios7-pause" size="30px"></ons-icon></ons-button>
            </ons-col>
        </ons-row>       

      <ons-row>
        <ons-col>
          <img src="{{path.pictures}}{{lit.media}}.jpg" width="100%">   
        </ons-col>  
      </ons-row>
  


</ons-page>
