<ons-page ng-controller="LitCtrl">
    <ons-toolbar>
      <div class="left"><ons-back-button>atrás</ons-back-button></div>
      <div class="center">{{lit.title}}</div>
    </ons-toolbar>


        <div class="navigation-bar">
          <div class="navigation-bar__center">

            <!-- segment control -->
            <div class="button-bar" style="width:300px; margin:8px auto 0;">
              <div class="button-bar__item">
                <input type="radio" name="navi-segment-a" checked>
                <div class="button-bar__button"><ons-icon icon="ion-ios7-rewind-outline" size="30px"></ons-icon></div>
              </div>
              <div class="button-bar__item">
                <input type="radio" name="navi-segment-a">
                <div class="button-bar__button"><ons-icon icon="ion-ios7-play-outline" size="30px"></ons-icon></div>
              </div>
              <div class="button-bar__item">
                <input type="radio" name="navi-segment-a">
                <div class="button-bar__button"><ons-icon icon="ion-ios7-pause-outline" size="30px"></ons-icon></div>
              </div>
            </div>

          </div>
        </div>

	<ons-row>
		<!-- <ons-col width="2px"></ons-col> -->
		<ons-col >
			<img src="{{path.pictures}}{{lit.images[0]}}" width="100%">		
		</ons-col>	
		<!-- <ons-col width="2px"></ons-col> -->
	</ons-row>

    <ons-bottom-toolbar >

        <ons-row>
            <ons-col>
              <div class='topcoat-progress-bar'>
                <span class='topcoat-progress' style='width:{{getCurrentPosition}}%'></span>
              </div>
            </ons-col>
        </ons-row>             
<!--         <ons-row>
            <ons-col size="10"></ons-col>
            <ons-col><a role="button" class="audio-player-button small icon-backward" ng-click="backwardMp3()"><ons-icon icon="backward" size="2x"></ons-icon></a></ons-col>
            <ons-col><a role="button" class="audio-player-button audio-player-place-pause-button icon-play" ng-click="playMp3()"><ons-icon icon="play" size="3x"></ons-icon></a></ons-col>  
            <ons-col><a role="button" class="audio-player-button small icon-forward" ng-click="forwardMp3()"><ons-icon icon="forward" size="2x"></ons-icon></a></ons-col> 
        </ons-row> -->
    </ons-bottom-toolbar>    

</ons-page>
